<div class="alert alert-success text-center mt-5">
    <h3>Booking is successful 🎉</h3>
    <p>We will contact you soon.</p>

    <a asp-controller="Event" asp-action="Index" class="btn btn-secondary mt-3">
        Back to Events
    </a>
</div>
